/* 自定义组件的css，在该自定义组件内部生效 (custom.css) */
.nav-box {
    width: 100%;
    height: 200px;
    background-color: red;
}

.dark {
    background-color: #3670c2;
}
.nav-box.dark .page-title-china {
    color: #fff;
}
.nav-box.dark .page-title-english {
    color: var(--dark-page-status-desc, rgba(255, 255, 255, 0.6));
}

.top-title {
    height: 53px;
    font-size: 0.16rem;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    z-index: 99;
}

.page-title-china {
    text-align: center;
    font-size: 0.17rem;
    color: #000;
    z-index: 99;
}

.page-title-english {
    font-size: 0.13rem;
    color: #999;
    z-index: 99;
}

.back-icon-wrap {
    position: absolute;
    left: 0.13rem;
    width: 0.44rem;
    height: 0.44rem;
    z-index: 99;
}

.back-icon {
    margin-top: 0.11rem;
    width: 0.22rem;
    height: 0.22rem;
    z-index: 99;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}
