.Header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    .content {
        height: 88px;
        padding-left: 40px;
        padding-right: 40px;
        .leftButton {
            width: 40px;
            height: 40px;
        }
        .title {
            margin-left: 50px;
            margin-right: 50px;
            color: rgba(35, 26, 18, 1);
            font-size: 36px;
            line-height: 52px;
            text-align: center;
        }
        .right {
            width: 40px;
        }
    }
    .line {
        height: 2px;
        background-color: rgba(238, 238, 238, 1);
    }
}
