.Course-Detail {
    flex: 1;
    background-color: white;
    .taro-video {
        height: 520px;
    }
    .video {
        width: 750px;
        height: 520px;
    }
    .cover1 {
        width: 750px;
    }
    .tabs {
        flex-direction: row;
        height: 98px;
        .tab {
            box-sizing: border-box;
            height: 98px;
            border-top: 6px solid transparent;
            border-top: 6px solid transparent;
            .text {
                font-size: 32px;
                color: rgba(92, 92, 92, 1);
            }
        }
        .tab-active {
            border-bottom: 6px solid rgba(40, 126, 255, 1);
        }
    }
    .list {
        .header {
            background-color: rgba(245, 245, 245, 1);
            padding: 12px 40px;
            .text {
                font-size: 32px;
                line-height: 32px;
                color: black;
                overflow: hidden;
                white-space: nowrap;
                font-weight: bold;
            }
        }
        .item {
            padding: 20px 40px;
            border-bottom: 2px solid rgba(238, 238, 238, 1);
            .title {
                flex: 1;
                font-size: 28px;
                line-height: 44px;
                color: rgba(73, 74, 74, 1);
                overflow: hidden;
                white-space: nowrap;
                text-align: left;
            }
            .title-active {
                color: rgba(40, 126, 255, 1);
            }
            .time {
                font-size: 28px;
                line-height: 44px;
                color: rgba(189, 196, 206, 1);
                margin-left: 40px;
            }
        }
    }
    .detailimage {
        width: 100%;
    }
}
