.User-RowItem {
    width: 670px;
    align-self: center;
    border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
    padding-top: 22px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    .item {
        height: 96px;
        .title {
            font-size: 28px;
            color: rgba(35, 26, 18, 1);
            margin-left: 22px;
        }
    }
}
